extends layout 

block content 

    div.container
        form(method="POST" action="/new")
            div.form-group
                label(for="author") Author: 
                input#author(type="text" name="author")
            
            div.form-group 
                label(for="messageText") Message: 
                input#messageText(type="text" name="messageText")

            div.form-group
                input(type="submit")

    if errors  
        for error in errors
            p= error